<footer>

    <div class="footer-main">
        <div class="row">

            <div class="col-four tab-full mob-full footer-info">

                <div class="footer-logo-wrapper">
                    <div class="footer-logo"></div>
                    <span class="footer-brand-name">Blastopia</span>
                </div>

                <p>
                    Thiên đường bomb nổ. <br>
                    Một sản phẩm từ <strong>Hidden Flame</strong>.
                </p>

            </div> <div class="col-two tab-1-3 mob-1-2 site-links">
                <h4>Trang Web</h4>
                <ul>
                    <li><a class="smoothscroll" href="#process">Tổng quan</a></li>
                    <li><a class="smoothscroll" href="#features">Tính năng</a></li>
                    <li><a href="@Url.Action("Community", "Home")">Tiêu chuẩn cộng đồng</a></li>
                    <li><a href="@Url.Action("Terms", "Home")">Điều khoản sử dụng</a></li>
                    <li><a href="https://docs.google.com/forms/d/e/1FAIpQLScKLtGunYyhYQe4SWolVEiS-k2irJQwT8gwAPG0n2dsmtdc9w/viewform" target="_blank">Hỗ trợ</a></li>
                </ul>
            </div> <div class="col-two tab-1-3 mob-1-2 social-links">
                <h4>Mạng Xã Hội</h4>
                <ul>
                    <li><a href="https://facebook.com" target="_blank">Facebook</a></li>
                    <li><a href="https://www.tiktok.com/@@blastopia.dev?is_from_webapp=1&sender_device=pc" target="_blank">Tiktok</a></li>
                </ul>
            </div> <div class="col-four tab-1-3 mob-full footer-subscribe">
                <h4>Đăng ký nhận tin</h4>
                <p>Cập nhật thông tin mới nhất về các bản vá, sự kiện và giải đấu!</p>
                <div class="subscribe-form">
                    <form id="mc-form" class="group" novalidate="true">
                        <input type="email" value="" name="dEmail" class="email" id="mc-email" placeholder="Nhập email &amp; nhấn enter" required="">
                        <input type="submit" name="subscribe">
                        <label for="mc-email" class="subscribe-message"></label>
                    </form>
                </div>
            </div>
        </div>
    </div> <div class="footer-bottom">
        <div class="row">
            <div class="col-twelve">
                <div class="copyright">
                    <span>© Copyright Hidden Flame @DateTime.Now.Year.</span>
                    <span>Phát triển bởi <a href="#">Hidden Flame</a></span>
                </div>
                <div id="go-top" style="display: block;">
                    <a class="smoothscroll" title="Back to Top" href="#top"><i class="icon ion-android-arrow-up"></i></a>
                </div>
            </div>
        </div>
    </div>

</footer>