<header>
    <div class="row">
        <div class="logo">
            <a class="smoothscroll" href="#intro">
                <span class="logo-text">Blastopia</span>
            </a>
        </div>

        <nav id="main-nav-wrap">
            <ul class="main-navigation">

                <li class="has-children">
                    <a href="#" title="">THÔNG TIN TRÒ CHƠI</a>
                    <ul class="sub-menu">
                        <li><a class="smoothscroll" href="#intro" title="">Trang chủ</a></li>
                        <li><a class="smoothscroll" href="#process" title="">Tổng quan</a></li>
                        <li><a class="smoothscroll" href="#features" title="">Tính năng</a></li>
                        <li><a class="smoothscroll" href="#pricing" title="">Chế độ chơi</a></li>
                        <li><a class="smoothscroll" href="#faq" title="">Tin tức</a></li>
                    </ul>
                </li>

                <li><a href="#" title="">TRUYỀN THÔNG</a></li>
                <li><a href="#" title="">TIN TỨC</a></li>
                <li><a href="#" title="">HỖ TRỢ</a></li>
                <li><a href="#" title="">Mạng xã hội</a></li>
                <li><a href="#" title="">Thể thao điện tử</a></li>

                <li class="highlight with-sep"><a href="#" title="">Sign Up</a></li>
            </ul>
        </nav>

        <a class="menu-toggle" href="#"><span>Menu</span></a>
    </div>
</header>